<div id="deleteAskModal" data-options="close_on_background_click:false"  class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
     role="dialog">
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>

    <div class="row">
        <div class="large-12 columns">
            <!--block title-->
            <div class="row">
                <div class="large-12 columns">
                    <h5 id="modalTitle">Deleting</h5>
                </div>
            </div>


            <!--block taken new folder name -->
            <div class="row">
                <div class="large-12 columns text-center">
                    <h6>Do you want to delete all selected files?</h6>
                </div>
            </div>

            <!-- block create the new folder-->
            <div class="row">
                <div class="large-12 columns text-center">
                    <a id="confirmToDeleteYES" class="button radius tiny">Yes</a>
                    <a id="confirmToDeleteNO" class="button  secondary radius tiny">NO</a>
                </div>
            </div>


            <div class="row">
                <div class="large-12 columns text-center" id="alertMessage">

                </div>
            </div>


        </div>
    </div>

</div>